{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contact Hawaii Travel Tips | Get in Touch</title>
    <meta name="description" content="Have questions or need help planning your Hawaiian vacation? Contact Hawaii Travel Tips for expert advice, tips, and recommendations for exploring the islands.">

    <!-- SEO & Social -->
    <meta property="og:title" content="Contact Hawaii Travel Tips | Get in Touch">
    <meta property="og:description" content="Have questions or need help planning your Hawaiian vacation? Contact Hawaii Travel Tips for expert advice, tips, and recommendations for exploring the islands.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hawaiitraveltips.com/contact/">
    <meta property="og:site_name" content="Hawaii Travel Tips">
    <meta property="og:image" content="{% static 'core/img/og-image.webp' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact Hawaii Travel Tips | Get in Touch">
    <meta name="twitter:description" content="Have questions or need help planning your Hawaiian vacation? Contact Hawaii Travel Tips for expert advice, tips, and recommendations for exploring the islands.">
    <meta name="twitter:image" content="{% static 'core/img/og-image.webp' %}">

    <!-- canonical -->
    <link rel="canonical" href="https://hawaiitraveltips.com/contact/">

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'core/img/favicon.ico' %}">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Hawaii Travel Tips",
        "alternateName": "hawaiitraveltips.com",
        "url": "https://www.hawaiitraveltips.com/contact/",
        "sameAs": [
            "https://www.facebook.com/groups/1747780178610364"
        ]
    }
    </script>

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">


</head>



<body data-bg-color="#FBFBFB">

    <!-- Loader Start -->
    {% include 'core/components/loader.html' %}
    <!-- Loader End -->


    <!-- back btn start -->
    {% include 'core/components/back-to-start.html' %}
    <!-- back btn end -->


    <!-- offcanvus-area-start -->
    {% include 'core/components/offcanvas.html' %}
    <!-- offcanvus-area-end -->

    <!-- header -->
    {% include 'core/components/header.html' %}
    <!-- header -->

    <div id="has-smooth">
        <div id="has-smooth-wrap">

            <main>


                <!-- breadcrumb area start -->
                <div class="togo-breadcrumb-style-2-ptb togo-breadcrumb-bg bg-pos"
                    data-background="{% static 'core/img/oahu.webp' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="togo-breadcrumb-heading text-center z-index-1">
                                    <h4 class="togo-breadcrumb-title fade-anim" data-delay=".3">Contact Our team</h4>
                                    <div class="togo-breadcrumb-text fade-anim" data-delay=".5">
                                        <p>We'd love to hear from you!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb area end -->


                <!-- contact area start -->
                <div class="togo-contact-ptb pt-60 pb-60">
                    <div class="container container-1440">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="togo-contact-wrapper">
                                    <h4 class="togo-section-title fs-28 mb-15">Email us</h4>
                                    <div class="togo-contact-form">
                                        <div class="row gx-20">
                                            <div class="col-xl-5 col-lg-4 col-sm-6 col-12">
                                                <div class="togo-contact-input mb-20">
                                                    <input type="text" placeholder="First name*"
                                                        id="contact-first-name">
                                                </div>
                                            </div>
                                            <div class="col-xl-5 col-lg-4 col-sm-6 col-12">
                                                <div class="togo-contact-input mb-20">
                                                    <input type="text" placeholder="Last name*" id="contact-last-name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-sm-6 col-12">
                                                <div class="togo-contact-input mb-20">
                                                    <input type="email" placeholder="Email*" id="contact-email">
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="togo-contact-input mb-20">
                                                    <textarea placeholder="Your message*"
                                                        id="contact-message"></textarea>
                                                </div>
                                                <div class="togo-contact-input-wrap">
                                                    <div class="togo-from-checkbox">
                                                        <input id="active" type="checkbox" required>
                                                        <label for="active">By checking this, you agree to our <a href="#">Privacy Policy</a></label>
                                                    </div>
                                                    <button class="togo-btn-primary" type="submit"
                                                        id="contact-submit-btn">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="togo-contact-warp">
                                    <div class="togo-contact-widget mb-25">
                                        <h4 class="togo-contact-widget-title mb-10">Get in touch</h4>
                                        <div class="togo-contact-widget-text mb-30">
                                            <p>We love to chat about your travel plans <br> and are happy to talk if you
                                                have any
                                                <br> questions.
                                            </p>
                                        </div>
                                        <div class="togo-contact-widget-add">
                                            <!-- <a href="mailto:hello@yoursite.com"><span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                        viewBox="0 0 22 22" fill="none">
                                                        <path
                                                            d="M1.83594 11C1.83594 7.54299 1.83594 5.81451 3.17836 4.74057C4.52079 3.66663 6.6814 3.66663 11.0026 3.66663C15.3238 3.66663 17.4844 3.66663 18.8268 4.74057C20.1693 5.81451 20.1693 7.54299 20.1693 11C20.1693 14.4569 20.1693 16.1854 18.8268 17.2594C17.4844 18.3333 15.3238 18.3333 11.0026 18.3333C6.6814 18.3333 4.52079 18.3333 3.17836 17.2594C1.83594 16.1854 1.83594 14.4569 1.83594 11Z"
                                                            stroke="currentColor" stroke-width="1.5"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path
                                                            d="M18.9434 4.86768L14.5201 8.98251C12.8365 10.3855 11.9947 11.087 10.9991 11.087C10.0034 11.087 9.16162 10.3855 7.47804 8.98251L3.05469 4.86768"
                                                            stroke="currentColor" stroke-width="1.5"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </span> hello@hawaiitraveltips.com</a> -->
                                        </div>
                                    </div>
                                    <div class="togo-contact-widget mb-25">
                                        <h4 class="togo-contact-widget-title mb-10">Head Office</h4>
                                        <div class="togo-contact-widget-text mb-30">
                                            <p>Honolulu, HI
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact area end -->


                {% include 'core/components/community.html' %}

            </main>

            {% include 'core/components/footer.html' %}


        </div>
    </div>


    <!-- JS here -->
    <script src="{% static 'core/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'core/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'core/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'core/js/magnific-popup.js' %}"></script>
    <script src="{% static 'core/js/nice-select.js' %}"></script>
    <script src="{% static 'core/js/purecounter.js' %}"></script>
    <script src="{% static 'core/js/incluid-bundle.js' %}"></script>
    <script src="{% static 'core/js/fecha.js' %}"></script>
    <script src="{% static 'core/js/hotel-datepicker.js' %}"></script>
    <script src="{% static 'core/js/range-slider.js' %}"></script>
    <script src="{% static 'core/js/email.js' %}"></script>
    <script src="{% static 'core/js/scripts.js' %}"></script>

</body>

</html>