{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} | Hawaii Travel Tips</title>
    <meta name="description" content="{{ excerpt|striptags|truncatechars:160 }}">

    <!-- SEO & Social -->
    <meta property="og:title" content="{{ title }} | Hawaii Travel Tips">
    <meta property="og:description" content="{{ excerpt|striptags|truncatechars:160 }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://hawaiitraveltips.com/guide/{{ title|slugify }}/">
    <meta property="og:site_name" content="Hawaii Travel Tips">
    <meta property="og:image" content="{% static 'core/img/og-image.webp' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} | Hawaii Travel Tips">
    <meta name="twitter:description" content="{{ excerpt|striptags|truncatechars:160 }}">
    <meta name="twitter:image" content="{% static 'core/img/og-image.webp' %}">

    <!-- canonical -->
    <link rel="canonical" href="https://hawaiitraveltips.com/guide/{{ title|slugify }}/">

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "description": "{{ excerpt|striptags|truncatechars:160 }}",
        "url": "https://hawaiitraveltips.com/guide/{{ title|slugify }}/",
        "publisher": {
            "@type": "Organization",
            "name": "Hawaii Travel Tips",
            "logo": {
                "@type": "ImageObject",
                "url": "{% static 'core/img/og-image.webp' %}"
            }
        }
    }
    </script>

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">


    <style>
        .excerpt{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        h2{
            padding-top: 2rem;
            padding-bottom: 0.75rem;
        }
        p{
            font-size: 16px !important;
        }
        li{
            font-size: 16px !important;
            margin-bottom: 0.5rem;
        }
    </style>


</head>



<body data-bg-color="#FBFBFB">

    <!-- Loader Start -->
    {% include 'core/components/loader.html' %}
    <!-- Loader End -->


    <!-- back btn start -->
    {% include 'core/components/back-to-start.html' %}
    <!-- back btn end -->


    <!-- offcanvus-area-start -->
    {% include 'core/components/offcanvas.html' %}
    <!-- offcanvus-area-end -->

    <!-- header -->
    {% include 'core/components/header.html' %}
    <!-- header -->

    <div id="has-smooth">
        <div id="has-smooth-wrap">

            <main>


                <!-- blog sidebar area start -->
                <div class="togo-blog-details-ptb pt-150 pb-120">
                    <div class="container">
                        <div class="row gx-50">
                            <div class="col-lg-8">
                                <div class="togo-postbox-box">
                                    <div class="togo-postbox-details-wrapper">
                                        {% for tag in wp_post.tag_names|slice:":3" %}
                                        <span class="bg-light px-2 rounded">{{tag}}</span>
                                        {% endfor %}
                                        <h1 class="togo-postbox-details-title mb-30">{{wp_post.title.rendered|safe}}</h1>
                                        <div class="togo-postbox-details-tags mb-30">
                                            <span>By Hawaii Travel Tips</span>
                                            <span>{{wp_post.modified|date:"M j, Y"}}</span>
                                        </div>
                                        <div class="togo-postbox-details-thumb mb-30">
                                            <img src="{{wp_post.jetpack_featured_media_url}}" alt="">
                                        </div>
                                        <div class="togo-postbox-details-text mb-30">
                                            {{wp_post.content.rendered|safe}}
                                        </div>
                                    </div>
                                    <div class="togo-postbox-details-related">
                                        <h3 class="text-center mb-30">Related Articles</h3>
                                        <div class="row">
                                            {% for post in wp_posts|slice:":3" %}
                                            <div class="col-xl-4 col-md-6">
                                                <div class="togo-blog-item mb-24">
                                                    <div class="togo-blog-item-thumb">
                                                        <a href="{% url 'core:guide-detail' guide_slug=post.slug %}">
                                                            <img src="{{post.jetpack_featured_media_url}}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="togo-blog-item-content">
                                                        <div class="togo-blog-item-meta mb-10">
                                                            <span class="label">Guide</span>
                                                            <span class="date">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                                    height="15" viewBox="0 0 15 15" fill="none">
                                                                    <path
                                                                        d="M10.875 2.25V0.75M4.125 2.25V0.75M0.9375 4.5H14.0625M7.5 14.25C4.31802 14.25 2.72703 14.25 1.73851 13.2615C0.75 12.273 0.75 10.682 0.75 7.5C0.75 4.31802 0.75 3.47703 1.73851 2.48851C2.72703 1.5 4.31802 1.5 7.5 1.5C10.682 1.5 12.273 1.5 13.2615 2.48851C14.25 3.47703 14.25 4.31802 14.25 7.5C14.25 10.682 14.25 12.273 13.2615 13.2615C12.273 14.25 10.682 14.25 7.5 14.25Z"
                                                                        stroke="currentColor" stroke-width="1.5"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                </svg>
                                                                {{wp_post.modified|date:"M j, Y"}}
                                                            </span>
                                                        </div>
                                                        <h4 class="togo-blog-item-title">
                                                            <a href="{% url 'core:guide-detail' guide_slug=post.slug %}">{{post.title.rendered|safe}}</a>
                                                        </h4>
                                                        <div class="excerpt">{{post.excerpt.rendered|safe}}</div>
                                                        <div class="togo-blog-item-btn mt-10">
                                                            <a class="line-border" href="{% url 'core:guide-detail' guide_slug=post.slug %}">
                                                                <span>Read more</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="togo-sidebar-wrapper">
                                    <div class="togo-sidebar-widget mb-30">
                                        <h4 class="togo-sidebar-widget-title">Search</h4>
                                        <div class="togo-sidebar-search">
                                            <form action="{% url 'core:bookings' island_slug=island.slug %}?q=" method="GET">
                                                <div class="togo-sidebar-search-input">
                                                    <input type="text" name="q" placeholder="Search...">
                                                    <button type="submit">
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M18.9999 19L14.6499 14.65M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z"
                                                                stroke="currentcolor" stroke-opacity="0.8"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="togo-sidebar-widget mb-30">
                                        <h4 class="togo-sidebar-widget-title">Recent Posts</h4>
                                        <div class="togo-sidebar-post-wrap">
                                            {% for post in wp_posts|slice:":5" %}
                                            <a href="{% url 'core:guide-detail' guide_slug=post.slug %}" class="togo-sidebar-post-title">{{post.title.rendered|safe}}</a>
                                            {%endfor %}
                                        </div>
                                    </div>
                                    <div class="togo-sidebar-widget mb-30">
                                        <h4 class="togo-sidebar-widget-title">Recent Comments</h4>
                                        <div class="togo-sidebar-comment">
                                            <p>No comments to show.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- blog sidebar area end -->


                {% include 'core/components/community.html' %}


            </main>

            {% include 'core/components/footer.html' %}

        </div>
    </div>


    <!-- JS here -->
    <script src="{% static 'core/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'core/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'core/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'core/js/magnific-popup.js' %}"></script>
    <script src="{% static 'core/js/nice-select.js' %}"></script>
    <script src="{% static 'core/js/purecounter.js' %}"></script>
    <script src="{% static 'core/js/fecha.js' %}"></script>
    <script src="{% static 'core/js/incluid-bundle.js' %}"></script>
    <script src="{% static 'core/js/hotel-datepicker.js' %}"></script>
    <script src="{% static 'core/js/range-slider.js' %}"></script>
    <script src="{% static 'core/js/scripts.js' %}"></script>

</body>

</html>