<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Hawaii Travel Tips">
    <meta name="robots" content="noindex, nofollow">
    <title>Admin Editing..</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/update.css' %}?v=11">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>

<body class="d-flex">
    <div class="update-card-container">
        {% include 'core/components/booking_card.html' %}
    </div>
    <div class="right">
        <!-- Form 1 -->
        <form class="d-flex"
            action="{% url 'core:update-booking' booking.pk %}?category={{current_category|slugify}}&page={{page}}"
            method="POST">
            {% csrf_token %}
            <input type="hidden" name="current_island" value="{{current_island}}">
            <input type="hidden" name="current_category" value="{{current_category}}">
            <input type="hidden" name="page" value="{{page}}">

            <div>
                <!-- category_ids -->
                <div class="tags-column">
                    <select multiple id="category_ids" name="category_ids">
                        {% for category in categories %}
                        {% if category in booking.tags.all %}
                        <option value="{{category.id}}" selected>{{category}}</option>
                        {% else %}
                        <option value="{{category.id}}">{{category}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="py-4 d-flex flex-column gap-1">
                <!-- fh_id -->
                <div>
                    FareHarbor ID: {{booking.fh_id}}
                </div>


                <!-- referral_link -->
                <label for="">
                    URL:
                    <a href="{{booking.referral_link}}&back=www.hawaiitraveltips.com">{{booking.referral_link}}&back={{back_url}}</a>
                </label>

                <hr>

                <!-- is_public -->
                <input type="hidden" name="is_public" value="false">
                <div>
                    {% if booking.is_public %}
                    <input type="checkbox" id="is_public" name="is_public" value="true" checked>
                    {% else %}
                    <input type="checkbox" id="is_public" name="is_public" value="true">
                    {% endif %}
                    <label class="btn btn-outline-dark" for="is_public">Public</label>
                </div>
                <!-- is_pinned -->
                <input type="hidden" name="is_pinned" value="false">
                <div>
                    {% if booking.is_pinned %}
                    <input type="checkbox" id="is_pinned" name="is_pinned" value="true" checked>
                    {% else %}
                    <input type="checkbox" id="is_pinned" name="is_pinned" value="true">
                    {% endif %}
                    <label class="btn btn-outline-dark" for="is_pinned">Pinned to Front Page</label>
                </div>

                <hr>

                <!-- company_name -->
                <div>
                    <label for="company_name">Company Name</label>
                    <input type="text" id="company_name" name="company_name" size="45" value="{{booking.company_name}}"
                        disabled>
                </div>
                <!-- company_rating -->
                <div>
                    <label for="company_rating">Google Rating</label>
                    <input type="text" id="company_rating" name="company_rating" value="{{booking.company_rating}}"
                        size="10">
                </div>
                <!-- company_reviews-->
                <div class="d-flex gap-1">
                    <label for="company_reviews">No. of Reviews</label>
                    <input type="text" id="company_reviews" name="company_reviews" value="{{booking.company_reviews}}"
                        size="10">
                    <p class="fs-sm">Do NOT include comma ",".</p>
                </div>

                <hr>

                <!-- title -->
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" size="60" value="{{booking.title}}">
                </div>
                <!-- city -->
                <div>
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" value="{{booking.city}}" size="20">
                </div>
                <!-- island.pk -->
                <div>
                    <label for="island_input">Island</label>
                    <select id="island_input" name="island_id">
                        {% for island in islands %}
                        {% if island == booking.island %}
                        <option value="{{island.id}}" selected>{{island}}</option>
                        {% else %}
                        <option value="{{island.id}}">{{island}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- details -->
                <div class="d-flex flex-column">
                    <label for="details">Details</label>
                    <textarea name="details" id="details">{{booking.details}}</textarea>
                    <p class="fs-sm">Details should be around 35-50 words and packed with keywords for SEO.</p>
                </div>

                <hr>

                <!-- duration -->
                <div>
                    <label for="duration">Duration</label>
                    <input type="text" id="duration" name="duration" value="{{booking.duration}}">
                    <p class="fs-sm">Format example: 2hr 45m</p>
                </div>
                <!-- price -->
                <div>
                    <label for="price">Price $</label>
                    <input type="text" id="price" name="price" value="{{booking.price}}">
                    <p class="fs-sm">Base price before promo discount is applied.</p>
                </div>
                <hr>

                <!-- is_popular -->
                <input type="hidden" name="is_popular" value="false">
                <div class="d-flex align-items-center gap-2 mb-1">
                    {% if booking.is_popular %}
                    <input class="" type="checkbox" value="true" id="popularCheckbox{{booking.pk}}"
                        name="is_popular" checked>
                    {% else %}
                    <input class="" type="checkbox" value="true" id="popularCheckbox{{booking.pk}}"
                        name="is_popular">
                    {% endif %}
                    <label class="form-check-label d-flex align-items-center fs-xs text-theme rounded-pill border px-2 py-1"
                        for="popularCheckbox{{booking.pk}}">
                        Best Seller
                    </label>
                </div>
                <!-- is_promo -->
                <input type="hidden" name="is_promo" value="false">
                <div class="d-flex align-items-center gap-2 mb-1">
                    {% if booking.is_promo %}
                    <input class="" type="checkbox" value="true" id="promoCheckbox{{booking.pk}}"
                        name="is_promo" checked>
                    {% else %}
                    <input class="" type="checkbox" value="true" id="promoCheckbox{{booking.pk}}"
                        name="is_promo">
                    {% endif %}
                    <label class="form-check-label d-flex align-items-center fs-xs text-theme rounded-pill border px-2 py-1"
                        for="promoCheckbox{{booking.pk}}">
                        % Off
                    </label>
                    <p class="fs-sm">Needs to be selected to appear in promo category section.</p>
                </div>
                <!-- promo_amount -->
                <div>
                    <input class="text-center" type="text" id="promo_amount" name="promo_amount"
                        value="{{booking.promo_amount}}" size="5">
                    <label for="promo_amount">% OFF</label>
                </div>
                <!-- promo_code -->
                <div>
                    <label for="promo_code">Promo Code</label>
                    <input type="text" id="promo_code" name="promo_code" value="{{booking.promo_code}}">
                </div>
            </div>



            <!-- Exit Button -->
            <div class="exit-button">
                {% if current_category == "None" %}
                <a class="btn btn-warning px-4"
                    href="{% url 'core:bookings' island=current_island %}?page={{page}}#{{booking.fh_id}}"
                    class="text-light mt-3 text-decoration-none">Exit</a>
                {% else %}
                <a class="btn btn-warning px-4"
                    href=""
                    class="text-light mt-3 text-decoration-none">Exit</a>
                {% endif %}
            </div>

            <!-- Save/Delete Button  -->
            <div class="buttons d-flex justify-content-end gap-2">
                <button class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{booking.pk}}">
                    Delete
                </button>
            </div>

        </form>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal{{booking.pk}}" tabindex="-1" aria-labelledby="ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Rubbish?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to <span class="text-danger fw-medium">DELETE</span> this booking
                    forever. This action is permanent and cannot be undone. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="current_island" value="{{current_island}}">
                        <input type="hidden" name="current_category" value="{{current_category}}">
                        <input type="hidden" name="page" value="{{page}}">
                        <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Fareharbor Script only loads on desktop -->
    <script>
        window.addEventListener("load", () => {
            if (window.innerWidth >= 768) {
                const script = document.createElement('script');
                script.src = "https://fareharbor.com/embeds/api/v1/?autolightframe=yes";
                document.body.appendChild(script);
            }
        });
    </script>
</body>