.togo-header-user-menu a .togo-svg-icon, .togo-header-2-top-info a svg {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

/* transform */
@font-face {
  font-family: "Otomanopee";
  src: url("../fonts/OtomanopeeOne-Regular.ttf");
  src: url("../fonts/OtomanopeeOne-Regular.ttf") format("embedded-opentype"), url("../fonts/OtomanopeeOne-Regular.ttf") format("woff"), url("../fonts/OtomanopeeOne-Regular.ttf") format("woff2"), url("../fonts/OtomanopeeOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
:root {
  /**
  @font family declaration
  */
  --togo-ff-body: 'DM Sans', sans-serif;
  --togo-ff-heading: 'Playfair Display', serif;
  --togo-ff-p: 'DM Sans', sans-serif;
  --togo-ff-outfit : 'Outfit', sans-serif;
  --togo-ff-marcellus : 'Marcellus', serif;
  --togo-ff-jost : 'Jost', sans-serif;
  --togo-ff-playfair : 'Playfair Display', serif;
  --togo-ff-otomanopee: 'Otomanopee', sans-serif;
  --togo-ff-fontawesome: "Font Awesome 6 Pro";
  /**
  @color declaration
  */
  --togo-common-white: #FFFFFF;
  --togo-common-black: #111111;
  --togo-common-black-2: #1E1E1E;
  --togo-common-red: #FF252B;
  --togo-common-orange: #ED2B04;
  --togo-common-yellow: #FFE453;
  --togo-common-green: #46E86A;
  --togo-common-brown: #664117;
  --togo-theme-primary: #FD4621;
  --togo-theme-secondary: #FBDFD1;
  --togo-text-body: #333333;
  --togo-gray-1: #DDDDDD;
  --togo-gray-2: #EEEEEE;
}

/*----------------------------------------*/
/*  3.1 Header Style 1
/*----------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-ptb {
    padding: 10px 0;
  }
}
.togo-header-wrapper {
  padding: 0 50px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .togo-header-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-wrapper {
    padding: 20px 20px;
  }
}
.togo-header-menu {
  position: relative;
}
.togo-header-menu > nav > ul > li {
  margin: 0 11px;
  list-style: none;
  position: relative;
  display: inline-block;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-menu > nav > ul > li {
    margin: 0 8px;
  }
}
.togo-header-menu > nav > ul > li > a {
  padding: 21px 0;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: var(--togo-common-black);
}
.togo-header-menu > nav > ul > li.p-static {
  position: static;
}
.togo-header-menu > nav > ul > li.togo-dropdown > a::after {
  content: "\f107";
  font-size: 14px;
  font-weight: 300;
  margin-left: 4px;
  display: inline-block;
  color: var(--togo-common-black);
  transition: all 0.3s 0s ease-out;
  font-family: var(--togo-ff-fontawesome);
}
.togo-header-menu > nav > ul > li.togo-dropdown:hover > a {
  color: var(--togo-theme-primary);
}
.togo-header-menu > nav > ul > li.togo-dropdown:hover > a::after {
  transform: rotate(-180deg);
  color: var(--togo-theme-primary);
}
.togo-header-menu > nav > ul > li .togo-submenu {
  position: absolute;
  left: 0;
  width: 240px;
  z-index: 99;
  padding: 16px 0;
  text-align: start;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  top: calc(100% + 20px);
  transform: translateY(10px);
  border: 1px solid #eeeeee;
  border-radius: 0 0 16px 16px;
  background: var(--togo-common-white);
  box-shadow: 1px 9px 26px 0px rgba(0, 0, 0, 0.04);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-menu > nav > ul > li .togo-submenu {
    width: 200px;
  }
}
.togo-header-menu > nav > ul > li .togo-submenu li {
  width: 100%;
  padding: 0 20px;
  list-style: none;
  position: relative;
}
.togo-header-menu > nav > ul > li .togo-submenu li:not(:last-of-type) {
  margin-bottom: 12px;
}
.togo-header-menu > nav > ul > li .togo-submenu li a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  display: inline-block;
  color: var(--togo-common-black);
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-menu > nav > ul > li .togo-submenu li a {
    font-size: 14px;
  }
}
.togo-header-menu > nav > ul > li .togo-submenu li .togo-submenu {
  left: 100%;
  top: calc(100% + 10px);
}
.togo-header-menu > nav > ul > li .togo-submenu li.togo-dropdown > a::after {
  position: absolute;
  right: 0;
  content: "\f105";
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
  display: inline-block;
  color: var(--togo-common-black);
  transition: all 0.3s 0s ease-out;
  font-family: var(--togo-ff-fontawesome);
}
.togo-header-menu > nav > ul > li .togo-submenu li.togo-dropdown:hover > a::after {
  transform: rotate(90deg);
}
.togo-header-menu > nav > ul > li .togo-submenu li:hover > a, .togo-header-menu > nav > ul > li .togo-submenu li.active > a {
  padding-left: 5px;
  color: var(--togo-theme-primary);
}
.togo-header-menu > nav > ul > li .togo-submenu li:hover > .togo-submenu, .togo-header-menu > nav > ul > li .togo-submenu li.active > .togo-submenu {
  top: -15px;
  opacity: 1;
  visibility: visible;
}
.togo-header-menu > nav > ul > li .togo-megamenu {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 99;
  width: 1175px;
  text-align: start;
  visibility: hidden;
  transition: all 0.3s;
  top: calc(100% + 20px);
  padding: 16px 24px 16px 0;
  transform: translateY(10px);
  border: 1px solid #eeeeee;
  border-radius: 0 0 16px 16px;
  background: var(--togo-common-white);
  box-shadow: 1px 9px 26px 0px rgba(0, 0, 0, 0.04);
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  .togo-header-menu > nav > ul > li .togo-megamenu {
    width: 1050px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .togo-header-menu > nav > ul > li .togo-megamenu {
    width: 1012px;
    left: -120px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-menu > nav > ul > li .togo-megamenu {
    width: 930px;
    left: -120px;
  }
}
.togo-header-menu > nav > ul > li:hover > .togo-submenu, .togo-header-menu > nav > ul > li:hover > .togo-megamenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.togo-header-menu > nav > ul > li.active > a {
  color: var(--togo-theme-primary) !important;
}
.togo-header-menu > nav > ul > li.active > a::after {
  transform: rotate(-180deg);
  color: var(--togo-theme-primary) !important;
}
.togo-header-logo img {
  max-width: inherit;
}
.togo-header-cart-btn:hover {
  color: var(--togo-theme-primary);
}
.togo-header-user {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.togo-header-user:hover {
  cursor: pointer;
  color: var(--togo-theme-primary);
}
.togo-header-user:hover .togo-header-user-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.togo-header-user-submenu {
  position: absolute;
  top: 100%;
  bottom: auto;
  right: 0;
  opacity: 0;
  left: auto;
  z-index: 9;
  width: 220px;
  padding: 20px;
  text-align: start;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: translateY(10px);
  border-radius: 0 0 16px 16px;
  border: 1px solid var(--togo-gray-2);
  background-color: var(--togo-common-white);
  box-shadow: 1px 9px 26px 0px rgba(0, 0, 0, 0.04);
}
.togo-header-user-thumb a {
  display: block;
}
.togo-header-user-thumb a:hover span {
  color: var(--togo-theme-primary);
}
.togo-header-user-thumb a img {
  border-radius: 50%;
}
.togo-header-user-thumb a span {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: var(--togo-common-black);
}
.togo-header-user-menu a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: var(--togo-common-black);
}
.togo-header-user-menu a:not(:last-of-type) {
  margin-bottom: 10px;
}
.togo-header-user-menu a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-user-menu a .togo-svg-icon {
  width: 24px;
  margin-right: 5px;
  display: inline-block;
}
.togo-header-style-1 {
  margin-left: -20px;
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-style-1 {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-style-1 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .togo-header-style-2 {
    margin-left: 25px;
  }
}
.togo-header-style-2 .togo-header-menu > nav > ul > li > a {
  color: var(--togo-common-white);
}
.togo-header-style-2 .togo-header-menu > nav > ul > li.togo-dropdown > a::after {
  color: var(--togo-common-white);
}
.togo-header-style-2 .togo-header-menu > nav > ul > li.togo-dropdown:hover > a {
  color: var(--togo-theme-primary);
}
.togo-header-style-2 .togo-header-menu > nav > ul > li.togo-dropdown:hover > a::after {
  transform: rotate(-180deg);
  color: var(--togo-theme-primary);
}
.togo-header-style-4 .togo-header-menu > nav > ul > li > a {
  color: var(--togo-common-white);
}
.togo-header-style-4 .togo-header-menu > nav > ul > li.togo-dropdown > a::after {
  color: var(--togo-common-white);
}
.togo-header-style-4 .togo-header-menu > nav > ul > li.togo-dropdown:hover > a {
  color: var(--togo-common-white);
}
.togo-header-style-4 .togo-header-menu > nav > ul > li.togo-dropdown:hover > a::after {
  transform: rotate(-180deg);
  color: var(--togo-common-white);
}
.togo-header-style-4 .togo-header-menu > nav > ul > li.active > a {
  color: var(--togo-common-white) !important;
}
.togo-header-style-4 .togo-header-menu > nav > ul > li.active > a::after {
  color: var(--togo-common-white) !important;
}
.togo-header-2-top {
  padding: 7px 50px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .togo-header-2-top {
    padding: 7px 30px;
  }
}
@media (max-width: 767px) {
  .togo-header-2-top {
    padding: 0 20px;
  }
}
.togo-header-2-top-info a {
  color: var(--togo-common-white);
}
.togo-header-2-top-info a:not(:last-of-type) {
  margin-right: 15px;
}
.togo-header-2-top-info a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-2-top-text p {
  margin: 0;
  font-weight: 500;
  color: var(--togo-common-white);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .togo-header-2-top-text p {
    font-size: 13px;
  }
}
.togo-header-2-top-text p a {
  color: var(--togo-theme-primary);
}
.togo-header-2-top-border {
  border-bottom: 1px solid #7f7e79;
}
.togo-header-2-top-social a {
  color: var(--togo-common-white);
}
.togo-header-2-top-social a:not(:last-of-type) {
  margin-right: 10px;
}
.togo-header-2-top-social a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-2-top.header-style-4 {
  padding: 0px 50px;
}
.togo-header-2-top.header-style-4 .togo-header-2-top-info a {
  color: var(--togo-common-black);
}
.togo-header-2-top.header-style-4 .togo-header-2-top-info a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-2-top.header-style-4 .togo-header-2-top-text p {
  color: var(--togo-common-black);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-2-top.header-style-4 .togo-header-2-top-text p {
    font-size: 15px;
  }
}
.togo-header-3-cart-btn {
  color: var(--togo-common-black);
}
.togo-header-3-cart-btn span:hover {
  color: var(--togo-theme-primary);
}
.togo-header-3-bar {
  color: var(--togo-common-black);
}
.togo-header-3-bar .togo-offcanvas-3-open-btn:hover {
  color: var(--togo-theme-primary);
}
.togo-header-4-top-right {
  padding: 9px 0;
  padding-right: 12px;
}
.togo-header-4-top-right .togo-header-4-user {
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid #EEEEEE;
}
.togo-header-4-top-right .togo-header-4-cart-btn {
  padding-left: 12px;
  margin-left: 12px;
  padding-right: 12px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.togo-header-4-top-right .togo-footer-copyright-currence-btn {
  padding-left: 12px;
  border-left: 1px solid #EEEEEE;
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-6-style {
    margin-left: 20px;
  }
}
.togo-header-6-style .togo-header-menu > nav > ul > li {
  margin: 0 8px;
}
.togo-header-6-top {
  padding: 20px 0;
}
.togo-header-6-top-content span {
  display: block;
  line-height: 1;
  color: var(--togo-common-white);
}
.togo-header-6-top-content a {
  font-size: 16px;
  font-weight: 500;
  color: var(--togo-common-white);
}
.togo-header-6-top-content a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-6-top-right {
  display: flex;
}
.togo-header-6-top-right .togo-header-6-top-content:not(:last-of-type) {
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid rgba(238, 238, 238, 0.5);
}
.togo-header-6-top-right.style-7 .togo-header-6-top-content span {
  color: var(--togo-text-body);
}
.togo-header-6-top-right.style-7 .togo-header-6-top-content a {
  color: var(--togo-common-black);
}
.togo-header-6-top-right.style-7 .togo-header-6-top-content a:hover {
  color: var(--togo-theme-primary);
}
.togo-header-6-top-right.style-7 .togo-header-6-top-content:not(:last-of-type) {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.togo-header-6-top-right.style-7 .togo-header-6-top-content:nth-child(2n) {
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #EEEEEE;
}
.togo-header-6-wrapper {
  border-radius: 33px;
  background: #FFFBF8;
  padding: 0 15px 0 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-6-wrapper {
    margin-top: 20px;
    padding: 15px 15px 15px 40px;
  }
}
.togo-header-6-user span {
  color: var(--togo-common-black);
}
.togo-header-7-wrapper {
  padding: 0 34px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-7-wrapper {
    padding: 22px 34px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-7-style .togo-header-menu > nav > ul > li .togo-megamenu {
    left: 0;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-header-8-style .togo-header-menu > nav > ul > li .togo-megamenu {
    left: 0;
  }
}
.togo-header-10-right .togo-header-cart-btn {
  color: var(--togo-common-white);
}
.togo-header-10-right .togo-header-cart-btn:hover {
  color: var(--togo-theme-primary);
}
.togo-header-10-right .togo-header-user {
  color: var(--togo-common-white);
}
.togo-header-10-right .togo-header-user:hover {
  color: var(--togo-theme-primary);
}
.togo-header-11-style {
  margin-left: -20px;
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-header-11-style {
    margin-left: 20px;
  }
}
.togo-header-11-right .togo-header-cart-btn {
  color: var(--togo-common-black);
}
.togo-header-11-right .togo-header-cart-btn:hover {
  color: var(--togo-theme-primary);
}
.togo-header-11-right .togo-header-user {
  color: var(--togo-common-black);
}
.togo-header-11-right .togo-header-user:hover {
  color: var(--togo-theme-primary);
}

.togo-hdr-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
}
.togo-hdr-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
}
.togo-hdr-bdr {
  border-bottom: 1px solid #EEEEEE;
}
.togo-megamenu-nav {
  display: flex;
  height: 100%;
  padding: 0 26px;
  flex-direction: column;
  border-right: 1px solid #EEE;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .togo-megamenu-nav {
    padding: 0;
    display: block;
    margin-bottom: 20px;
  }
}
.togo-megamenu-nav ul {
  display: block;
}
.togo-megamenu-nav ul li {
  list-style: none;
}
.togo-megamenu-nav ul li:not(:last-of-type) {
  margin-bottom: 10px;
}
.togo-megamenu-nav ul li:hover a, .togo-megamenu-nav ul li.active a {
  color: var(--togo-theme-primary);
}
.togo-megamenu-nav ul li a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--togo-common-black);
}
.togo-megamenu-nav ul li a span {
  display: inline-block;
}
.togo-megamenu-nav ul li a span svg {
  width: 18px;
}
.togo-megamenu-banner {
  border-radius: 8px;
  padding: 24px 24px 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.togo-megamenu-banner-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--togo-common-white);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .togo-megamenu-banner-title {
    font-size: 22px;
  }
}
.togo-megamenu-banner p {
  padding-bottom: 20px;
  color: var(--togo-common-white);
}
.togo-megamenu-destination-wrap {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.25s ease-in-out;
}
.togo-megamenu-destination-wrap.show {
  opacity: 1;
  transform: translateX(0px);
}
.togo-megamenu-destination-title {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-bottom: 18px;
  display: inline-block;
  text-transform: uppercase;
}
.togo-megamenu-destination-item {
  gap: 12px;
  display: flex;
  align-items: center;
}
.togo-megamenu-destination-item:hover .togo-megamenu-destination-thumb img {
  transform: scale(1.1);
}
.togo-megamenu-destination-thumb {
  overflow: hidden;
  border-radius: 50%;
}
.togo-megamenu-destination-thumb img {
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.togo-megamenu-destination-content a {
  font-size: 16px;
  font-weight: 500;
  color: var(--togo-common-black);
}
.togo-megamenu-destination-content a:hover {
  color: var(--togo-theme-primary);
}

/*----------------------------------------*/
/*  3.2 Mobile Style
/*----------------------------------------*/
.togo-mobilemenu-content {
  /* Disable transitions for nested ul/li */
}
.togo-mobilemenu-content .togo-submenu {
  display: none;
}
.togo-mobilemenu-content ul {
  position: static;
  display: block;
  box-shadow: none;
}
.togo-mobilemenu-content ul li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
}
.togo-mobilemenu-content ul li:not(:last-child) a {
  border-bottom: 1px solid rgba(234, 235, 237, 0.7);
}
.togo-mobilemenu-content ul li.togo-dropdown > a {
  position: relative;
}
.togo-mobilemenu-content ul li.togo-dropdown > a .dropdown-toggle-btn {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  transform: translateY(-15px);
  color: var(--togo-common-black);
  border: 1px solid rgba(234, 235, 237, 0.7);
  z-index: 1;
}
.togo-mobilemenu-content ul li.togo-dropdown > a .dropdown-toggle-btn i {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.togo-mobilemenu-content ul li.togo-dropdown > a .dropdown-toggle-btn.dropdown-opened i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.togo-mobilemenu-content ul li.togo-dropdown > a .dropdown-toggle-btn:hover {
  background-color: var(--togo-theme-primary);
  border-color: var(--togo-theme-primary);
  color: var(--togo-common-white);
}
.togo-mobilemenu-content ul li.togo-dropdown > a .dropdown-toggle-btn:hover i {
  color: var(--togo-common-white);
}
.togo-mobilemenu-content ul li.togo-dropdown > a.expanded {
  color: var(--togo-theme-primary);
}
.togo-mobilemenu-content ul li.togo-dropdown > a.expanded .dropdown-toggle-btn.dropdown-opened {
  background-color: var(--togo-theme-primary);
  border-color: var(--togo-theme-primary);
  color: var(--togo-common-white);
}
.togo-mobilemenu-content ul li.togo-dropdown > a.expanded .dropdown-toggle-btn.dropdown-opened i {
  color: var(--togo-common-white);
}
.togo-mobilemenu-content ul li.togo-dropdown:hover > a::after {
  color: var(--togo-theme-green);
}
.togo-mobilemenu-content ul li:last-child a span {
  border-bottom: 0;
}
.togo-mobilemenu-content ul li > a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 10px 20px 10px 0;
  color: var(--togo-common-black);
}
.togo-mobilemenu-content ul li > a > i {
  width: 11%;
  font-size: 21px;
  line-height: 1;
  margin-right: 13px;
  display: inline-block;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.togo-mobilemenu-content ul li > a svg {
  transform: togo-translateY(2px);
}
.togo-mobilemenu-content ul li img {
  width: 100%;
}
.togo-mobilemenu-content ul li ul {
  padding: 0;
}
.togo-mobilemenu-content ul li ul li {
  padding: 0;
}
.togo-mobilemenu-content ul li ul li a {
  width: 93%;
  padding: 10px 20px 10px 0;
  margin-left: auto;
  text-shadow: none !important;
}
.togo-mobilemenu-content ul li ul li li a {
  width: 88%;
}
.togo-mobilemenu-content ul li ul li li li a {
  width: 83%;
}
.togo-mobilemenu-content ul li ul li li li li a {
  width: 68%;
}
.togo-mobilemenu-content ul li:hover > a {
  color: var(--togo-theme-primary);
}
.togo-mobilemenu-content ul li:hover > a::after,
.togo-mobilemenu-content ul li:hover > a .dropdown-toggle-btn i {
  color: var(--togo-theme-primary);
}
.togo-mobilemenu-content ul li .mega-menu,
.togo-mobilemenu-content ul li .mobile-slide {
  position: static;
  min-width: 100%;
  display: none;
  padding: 0;
  visibility: visible;
  opacity: 1;
  box-shadow: none;
}
.togo-mobilemenu-content ul li .mega-menu li,
.togo-mobilemenu-content ul li .mobile-slide li {
  float: none;
  width: 100%;
  padding: 0;
}
.togo-mobilemenu-content ul li .mega-menu li:hover a .dropdown-toggle-btn,
.togo-mobilemenu-content ul li .mobile-slide li:hover a .dropdown-toggle-btn {
  color: var(--togo-theme-primary);
}
.togo-mobilemenu-content .togo-megamenu-nav {
  padding: 0;
  display: block;
  margin-bottom: 20px;
}
.togo-mobilemenu-content .togo-megamenu-banner {
  display: none;
}
.togo-mobilemenu-content * ul,
.togo-mobilemenu-content * li {
  transition: none !important;
}

/* HEADER CSS */

/*# sourceMappingURL=index.css.map */
