{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>

   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Togo – Travel & Tour Booking HTML Template</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

   <!-- CSS here -->
   <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/swiper-bundle.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/datepicker.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/font-awesome-pro.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

</head>



<body data-bg-color="#FBFBFB">

   <!-- Loader Start -->
   <div class="togo-loader">
      <div class="togo-preloader p-relative">
         <span style="--i: 1"></span>
         <span style="--i: 2"></span>
         <span style="--i: 3"></span>
         <span style="--i: 4"></span>
         <span style="--i: 5"></span>
         <span style="--i: 6"></span>
         <span style="--i: 7"></span>
         <span style="--i: 8"></span>
         <span style="--i: 9"></span>
         <span style="--i: 10"></span>
         <span style="--i: 11"></span>
         <span style="--i: 12"></span>
         <span style="--i: 13"></span>
         <span style="--i: 14"></span>
         <span style="--i: 15"></span>
         <span style="--i: 16"></span>
         <span style="--i: 17"></span>
         <span style="--i: 18"></span>
         <span style="--i: 19"></span>
         <span style="--i: 20"></span>
         <div class="plane">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="80" height="80" fill="currentColor">
               <path
                  d="M407.72 208c-2.72 0-14.44.08-18.67.31l-57.77 1.52L198.06 48h-62.81l74.59 164.61-97.31 1.44L68.25 160H16.14l20.61 94.18c.15.54.33 1.07.53 1.59a.26.26 0 010 .15 15.42 15.42 0 00-.53 1.58L15.86 352h51.78l45.45-55 96.77 2.17L135.24 464h63l133-161.75 57.77 1.54c4.29.23 16 .31 18.66.31 24.35 0 44.27-3.34 59.21-9.94C492.22 283 496 265.46 496 256c0-30.06-33-48-88.28-48zm-71.29 87.9z">
               </path>
            </svg>
         </div>
      </div>
   </div>
   <!-- Loader End -->


   <div id="has-smooth">
      <div id="has-smooth-wrap">

         <main>

            <!-- error area start -->
            <div class="togo-error-ptb pt-200 ">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="togo-error-wrapper text-center">
                           <div class="togo-error-thumb pb-50">
                              <img src="assets/img/carrer/error.png" alt="">
                           </div>
                           <h4 class="togo-section-title fs-34 mb-15">Oops, that didn’t work.</h4>
                           <p>The page you are looking for cannot be found.</p>
                           <a class="togo-btn-primary bdr-style orange-bdr" href="{% url 'core:index' %}">Go to homepage <span>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11"
                                    fill="none">
                                    <path d="M0.75 9.75L5.25 5.25L0.75 0.75" stroke="currentColor" stroke-width="1.5"
                                       stroke-linecap="round" stroke-linejoin="round" />
                                 </svg>
                              </span></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- error area end -->


         </main>

      </div>
   </div>


   <!-- JS here -->
   <script src="{% static 'core/js/vendor/jquery.js' %}"></script>
   <script src="{% static 'core/js/bootstrap-bundle.js' %}"></script>
   <script src="{% static 'core/js/swiper-bundle.js' %}"></script>
   <script src="{% static 'core/js/magnific-popup.js' %}"></script>
   <script src="{% static 'core/js/nice-select.js' %}"></script>
   <script src="{% static 'core/js/purecounter.js' %}"></script>
   <script src="{% static 'core/js/incluid-bundle.js' %}"></script>
   <script src="{% static 'core/js/fecha.js' %}"></script>
   <script src="{% static 'core/js/hotel-datepicker.js' %}"></script>
   <script src="{% static 'core/js/range-slider.js' %}"></script>
   <script src="{% static 'core/js/scripts.js' %}"></script>

</body>

</html>