{% extends 'core/views/islands/base_island.html' %}
{% load static %}


{% block meta %}
<title>Oahu Travel Guide | Hawaii Travel Tips</title>
<meta name="description"
    content="Explore Oahu with expert travel tips, must-see attractions, best beaches, and activities. Plan your Oahu adventure in Hawaii.">

<!-- SEO & Social -->
<meta property="og:title" content="Oahu Travel Guide | Hawaii Travel Tips">
<meta property="og:description"
    content="Explore Oahu with expert travel tips, must-see attractions, best beaches, and activities. Plan your Oahu adventure in Hawaii.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://hawaiitraveltips.com/oahu">
<meta property="og:site_name" content="Hawaii Travel Tips">
<meta property="og:image" content="{% static 'core/img/og-image.webp' %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Oahu Travel Guide | Hawaii Travel Tips">
<meta name="twitter:description"
    content="Explore Oahu with expert travel tips, must-see attractions, best beaches, and activities. Plan your Oahu adventure in Hawaii.">
<meta name="twitter:image" content="{% static 'core/img/og-oahu.jpg' %}">

<!-- canonical -->
<link rel="canonical" href="https://hawaiitraveltips.com/oahu">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Hawaii Travel Tips",
        "alternateName": "hawaiitraveltips.com",
        "url": "https://www.hawaiitraveltips.com/oahu",
        "sameAs": [
            "https://www.facebook.com/groups/1747780178610364"
        ]
    }
</script>
{% endblock %}