{% load static %}
<div class="togo-community-ptb pt-190 pb-190 togo-community-3-bg bg-pos"
    data-background="{% static 'core/img/mountains.webp' %}">
    <div class="togo-community-3-bg-shape">
        <div class="shape-1">
            <img src="{% static 'core/img/cta/comunity-shape-1.png' %}" alt="">
        </div>
        <div class="shape-2">
            <img src="{% static 'core/img/cta/comunity-shape-2.png' %}" alt="">
        </div>
    </div>
    <div class="container container-1440">
        <div class="row">
            <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="togo-community-heading z-index-1">
                    <h3 class="togo-section-title p-relative fade-anim" data-delay=".3">Join Over 325k
                        Fellow
                        Travelers!</h3>
                    <div class="togo-community-text fade-anim" data-delay=".5">
                        <p>Follow Hawaii Travel Tips on Facebook for daily travel inspiration, tips, and
                            updates
                            from the islands.</p>
                    </div>
                    <div class="togo-guide-2-btn-box d-flex align-items-center fade-anim" data-delay=".9">
                        <a class="togo-btn-primary" href="https://www.facebook.com/groups/1747780178610364/" target="_blank">Join Us on Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</div>