{% load static %}
<footer>

    <!-- footer area start -->
    <div class="togo-footer-2-ptb pt-60">
        <div class="container">
            <div class="togo-footer-2-main-wrapper pb-10">
                <div class="row">
                    <div class="d-none d-md-block col-lg-4 col-sm-6">
                        <div class="togo-footer-widget mb-40 togo-footer-2-col-1">
                            <div class="togo-footer-logo mb-30">
                                <a href="{% url 'core:home' %}">
                                    <img src="{% static 'core/img/logo.webp' %}" alt="Hawaii Travel Tips Logo" style="width: 150px;">
                                </a>
                            </div>
                            <div class="togo-footer-widget-info mb-15">
                                <p class="mb-20">We simplify bookings, making reservations fast and easy in
                                    the
                                    Hawaiian islands.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="togo-footer-widget mb-40 togo-footer-2-col-2">
                            <h4 class="togo-footer-widget-title mb-25">Company</h4>
                            <div class="togo-footer-widget-menu">
                                <ul>
                                    <li><a class="hover-line" href="{% url 'core:about' %}">About us</a></li>
                                    <li><a class="hover-line" href="{% url 'core:contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="togo-footer-widget mb-40 togo-footer-2-col-3">
                            <h4 class="togo-footer-widget-title mb-25">Islands</h4>
                            <div class="togo-footer-widget-menu">
                                <ul>
                                    <li><a class="hover-line" href="{% url 'core:island' island_slug='oahu' %}">Oahu</a></li>
                                    <li><a class="hover-line" href="{% url 'core:island' island_slug='maui' %}">Maui</a></li>
                                    <li><a class="hover-line" href="{% url 'core:island' island_slug='big-island' %}">Big Island</a></li>
                                    <li><a class="hover-line" href="{% url 'core:island' island_slug='kauai' %}">Kauai</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="togo-footer-widget mb-40 togo-footer-2-col-3">
                            <h4 class="togo-footer-widget-title mb-25">Legal</h4>
                            <div class="togo-footer-widget-menu">
                                <ul>
                                    <li><a class="hover-line" href="{% url 'core:legal' %}">Privacy policy</a></li>
                                    <li><a class="hover-line" href="{% url 'core:legal' %}">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="togo-footer-widget mb-40 togo-footer-2-col-4">
                            <h4 class="togo-footer-widget-title mb-28">Connect</h4>
                            <div class="togo-footer-2-social">
                                <div class="togo-footer-2-social-item">
                                    <a href="https://www.facebook.com/groups/1747780178610364/" target="_blank">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20"
                                                viewBox="0 0 13 20" fill="none">
                                                <path
                                                    d="M0.75 7.75V11.75H3.75V18.75H7.75V11.75H10.75L11.75 7.75H7.75V5.75C7.75 5.20533 8.20533 4.75 8.75 4.75H11.75V0.75H8.75C6.02667 0.75 3.75 3.02667 3.75 5.75V7.75H0.75Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                        Facebook
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="togo-footer-top-border pt-35 pb-30">
                <div class="togo-footer-copyright-text">
                    <p><a href="{% url 'core:index' %}" style="color: var(--togo-theme-primary)">Hawaii Travel Tips</a> © 2026 all right reserved.</p>
                </div>
                <div class="row align-items-center mt-2">
                    <div class="col-6">
                        <i>Powered by 
                            <a target="_blank" href="https://kaimukidigital.com/" rel="nofollow" class="">
                                <img src="{% static 'core/img/kaimuki_digital.webp' %}" alt="Kaimuki Digital Web Design Logo" style="height: 20px;">
                            </a>
                        </i>
                    </div>
                    <div class="col-6">
                        <div class="togo-footer-copyright-currence text-end">
                            <div class="togo-footer-copyright-currence-btn">
                                <span>
                                    EN / USD
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <path d="M4 6L8 10L12 6" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <div class="togo-footer-copyright-currence-content">
                                    <h4>Currencies</h4>
                                    <ul class="currence-work">
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area end -->

</footer>