{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}

    {% endblock %}

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'core/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <style>
        .togo-tour-card-desc,
        .togo-tour-card-bottom {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .swiper-slide img {
            aspect-ratio: 5/3;

        }

        .view-btn:hover {
            border: 1px solid var(--togo-theme-primary) !important;
        }
    </style>
</head>



<body>

    {% if request.user.is_authenticated %}
    {% include 'core/components/admin_btn.html' %}
    {% endif %}

    <!-- Loader Start -->
    {% include 'core/components/loader.html' %}
    <!-- Loader End -->


    <!-- back btn start -->
    {% include 'core/components/back-to-start.html' %}
    <!-- back btn end -->


    <!-- offcanvus-area-start -->
    {% include 'core/components/offcanvas.html' %}
    <!-- offcanvus-area-end -->

    <!-- header -->
    {% include 'core/components/header.html' %}
    <!-- header -->



    <div id="has-smooth">
        <div id="has-smooth-wrap">

            <main>

                <!-- breadcrumb area start -->
                <div class="togo-breadcrumb-ptb togo-breadcrumb-bg bg-pos pt-150 pb-85"
                    data-background="{% static 'core/img/'|add:island.slug|add:'.webp' %}">
                    <div class="container container-1440">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="togo-breadcrumb-content z-index-1">
                                    <h4 class="togo-section-title mb-15 color-white">{{island.name}} • Book Tours &
                                        Activities {% if current_category %} • {{ current_category.name }} {% endif %}
                                    </h4>
                                    <form action="" method="get">
                                        <div
                                            class="togo-hero-11-input-search d-flex align-items-center rounded-pill bg-white p-2">
                                            <div class="togo-hero-11-input-search-wrap trip-search-form">
                                                {% if request.GET.q %}
                                                <input type="text" name="q" placeholder="{{ request.GET.q }}"
                                                    class="px-4">
                                                {% else %}
                                                <input type="text" name="q"
                                                    placeholder="Search tours & activities in {{island.name}}"
                                                    class="px-4">
                                                {% endif %}
                                            </div>
                                            <div class="togo-hero-2-search-btn">
                                                <button type="submit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                        viewBox="0 0 22 22" fill="none">
                                                        <path
                                                            d="M15.4838 15.5099L18.3073 18.3334M17.4925 10.616C17.4925 14.454 14.3916 17.5654 10.5666 17.5654C6.74147 17.5654 3.64062 14.454 3.64062 10.616C3.64062 6.77801 6.74147 3.66669 10.5666 3.66669C14.3916 3.66669 17.4925 6.77801 17.4925 10.616Z"
                                                            stroke="currentColor" stroke-width="1.5"
                                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Island Filter -->
                                    <div
                                    class="d-xl-none togo-tour-grid-top-bar d-flex align-items-center justify-content-end">
                                        <div class="togo-tour-grid-select-wrap">
                                            <div class="togo-tour-grid-select">
                                                <select class="wide" onchange="location = this.value;">
                                                    {% for single_island in islands %}
                                                    <option value="{% url 'core:bookings' single_island.slug %}" {% if island == single_island %}selected{% endif %}>
                                                        {{ single_island.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Category Filter -->
                                    <div
                                    class="d-xl-none togo-tour-grid-top-bar d-flex align-items-center justify-content-end mt-1">
                                        <div class="togo-tour-grid-select-wrap">
                                            <div class="togo-tour-grid-select">
                                                <select class="wide" onchange="location = this.value;">
                                                    {% if not current_category %}
                                                    <option value="{% url 'core:bookings' island.slug %}" selected>
                                                        View All
                                                        {% else %}
                                                    <option value="{% url 'core:bookings' island.slug %}">
                                                        View All ({{ total_bookings_count }})
                                                        {% endif %}

                                                        {% for cat in categories %}
                                                    <option
                                                        value="{% url 'core:bookings' island.slug %}?category={{ cat|slugify }}"
                                                        {% if current_category == cat%}selected{% endif %}>
                                                        {{ cat.name }} ({{ cat.visible_bookings_count }})
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb area end -->

                <!-- tour grid area start -->
                <div class="togo-tour-grid-ptb pt-40 pb-80">
                    <div class="container container-1440">
                        <div class="row">
                            <div class="col-xl-3 order-2 order-xl-1">
                                <div class="togo-tour-sidebar mb-30">
                                    <div class="togo-tour-widget">
                                        <h4 class="togo-tour-widget-title">Island <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"
                                                    viewBox="0 0 14 8" fill="none">
                                                    <path d="M12.75 6.75L6.75 0.75L0.75 6.75" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span></h4>
                                        <div class="togo-tour-widget-filter-checkbox inner_content">
                                            <ul>
                                                {% for single_island in islands %}
                                                <li>
                                                    <span style="font-size: 16px;">
                                                        {% if single_island == island %}
                                                        <a href="{% url 'core:bookings' single_island.slug %}"
                                                            style="color: var(--togo-theme-primary);">{{ single_island.name }}</a>
                                                        {% else %}
                                                        <a
                                                            href="{% url 'core:bookings' single_island.slug %}">{{ single_island.name }}</a>
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="togo-tour-widget">
                                        <h4 class="togo-tour-widget-title">Tours & Activites <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"
                                                    viewBox="0 0 14 8" fill="none">
                                                    <path d="M12.75 6.75L6.75 0.75L0.75 6.75" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span></h4>
                                        <div class="togo-tour-widget-filter-checkbox inner_content"
                                            style="font-size: 16px;">
                                            <ul>
                                                <li>
                                                    <span>
                                                        {% if not current_category %}
                                                        <a href="{% url 'core:bookings' island_slug=island.slug %}"
                                                            style="color: var(--togo-theme-primary);">View All
                                                            ({{ total_bookings_count }})</a>
                                                        {% else %}
                                                        <a href="{% url 'core:bookings' island_slug=island.slug %}">View
                                                            All ({{ total_bookings_count }})</a>
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                {% for cat in categories %}
                                                <li>
                                                    <span class="togo-from-checkbox">
                                                        {% if cat == current_category %}
                                                        <a href="{% url 'core:bookings' island_slug=island.slug %}?category={{ cat.name|slugify }}"
                                                            style="color: var(--togo-theme-primary);">
                                                            {{ cat.name }} ({{ cat.visible_bookings_count }})
                                                        </a>
                                                        {% else %}
                                                        <a
                                                            href="{% url 'core:bookings' island_slug=island.slug %}?category={{ cat.name|slugify }}">
                                                            {{ cat.name }} ({{ cat.visible_bookings_count }})
                                                        </a>
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                {% endfor %}
                                                {% if current_category or sort_slug or request.GET.q %}
                                                <li class="mt-4">
                                                    <a href="{% url 'core:clear-bookings' island.slug %}">
                                                        <i>Clear Filter</i>
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 order-1 order-xl-2">
                                <div class="togo-tour-grid-wrapper">
                                    <div
                                        class="togo-tour-grid-top-bar d-flex align-items-center justify-content-between mb-15">
                                        <!-- View Filter -->
                                        <div class="togo-tour-grid-select-wrap d-flex align-items-start">
                                            {% if request.session.view == 'grid' %}
                                            <a href="{% url 'core:bookings' island.slug %}?view=list"
                                                class="view-btn d-flex align-items-start border rounded-pill">
                                                <span class="d-none d-md-flex align-items-center px-3 py-2 gap-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-view-stacked" viewBox="0 0 16 16">
                                                        <path
                                                            d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                                    </svg>
                                                    View List
                                                </span>
                                            </a>
                                            {% if request.GET.q %}
                                            <i class="d-md-none"><a href="{% url 'core:bookings' island.slug %}">Search Results:</a></i>
                                            {% endif %}
                                            {% else %}
                                            <a href="{% url 'core:bookings' island.slug %}?view=grid"
                                                class="view-btn d-flex align-items-start border rounded-pill">
                                                <span class="d-none d-md-flex align-items-center px-3 py-2 gap-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
                                                    </svg>
                                                    View Grid
                                                </span>
                                            </a>
                                            {% if request.GET.q %}
                                            <i class="d-md-none"><a href="{% url 'core:bookings' island.slug %}">Search Results:</a></i>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        <!-- Sort Filter -->
                                        <div class="togo-tour-grid-select-wrap">
                                            <div class="togo-tour-grid-select">
                                                <form action="" method="get">
                                                    {% if current_category %}
                                                    <input type="hidden" name="category"
                                                        value="{{ current_category|slugify }}">
                                                    {% endif %}
                                                    <select class="wide" name="sort" onchange="this.form.submit()">
                                                        <option value="best-seller" {% if sort_slug == "best-seller" %}selected{% endif %}>
                                                            Best Seller
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor"
                                                                class="bi bi-view-stacked" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                                            </svg>
                                                        </option>

                                                        <option value="rating" {% if sort_slug == "rating" %}selected{% endif %}>
                                                            Highest Rating
                                                        </option>

                                                        <option value="promo-code" {% if sort_slug == "promo-code" %}selected{% endif %}>
                                                            Promo Code
                                                        </option>

                                                        <option value="price" {% if sort_slug == "price" %}selected{% endif %}>
                                                            Price: Low to High
                                                        </option>

                                                        <option value="title" {% if sort_slug == "title" %}selected{% endif %}>
                                                            Title: A to Z
                                                        </option>
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Booking Cards start -->
                                    {% if request.session.view == 'grid' %}
                                    <div class="togo-tour-grid-item-box">
                                        <div class="row">
                                            <!-- Booking Card start-->
                                            {% for booking in page_obj %}
                                            <div class="col-lg-4 col-md-6" id="{{booking.fh_id}}">
                                                {% include 'core/components/booking_card.html' %}
                                            </div>
                                            {% endfor %}
                                            <!-- Booking Card End -->
                                        </div>
                                    </div>
                                    {% else %}
                                    {% include 'core/components/bookings_list_view.html' %}
                                    {% endif %}
                                    <!-- booking cards end-->

                                    <!-- Pagination -->
                                    <div class="row">
                                        <div class="togo-tour-pagination mt-20">
                                            <div class="col-lg-12">
                                                <div class="togo-pagination">
                                                    <nav>
                                                        <ul>{% if page_obj.has_previous %}
                                                            <li><a rel="prev"
                                                                    href="?page={{ page_obj.previous_page_number }}&category={{current_category|slugify}}"
                                                                    class="next">
                                                                    <span>
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="16" fill="currentColor"
                                                                            class="bi bi-chevron-left"
                                                                            viewBox="0 0 16 16">
                                                                            <path fill-rule="evenodd"
                                                                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                                        </svg>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            {% endif %}

                                                            {% for page_number in page_range %}
                                                            {% if page_number == page_obj.number %}
                                                            <li><a class="active" href="?page={{ page_number }}&category={{current_category|slugify}}">
                                                                    {{ page_number }}
                                                                </a></li>
                                                            {% else %}
                                                            <li>
                                                                {% if page_number == "…" %}
                                                                <span>…</span>
                                                                {% else %}
                                                                <a href="?page={{ page_number }}&category={{current_category|slugify}}">
                                                                    {{ page_number }}
                                                                </a>
                                                                {% endif %}
                                                            </li>
                                                            {% endif %}
                                                            {% endfor %}

                                                            {% if page_obj.has_next %}
                                                            <li><a rel="next"
                                                                    href="?page={{ page_obj.next_page_number }}&category={{current_category|slugify}}"
                                                                    class="next">
                                                                    <span>
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="16" fill="currentColor"
                                                                            class="bi bi-chevron-right"
                                                                            viewBox="0 0 16 16">
                                                                            <path fill-rule="evenodd"
                                                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                                                        </svg>
                                                                    </span>
                                                                </a></li>
                                                            {% endif %}
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tour grid area end -->

            </main>

            <footer>

                <!-- footer area start -->
                <div class="togo-footer-2-ptb pt-60">
                    <div class="container">
                        <div class="togo-footer-top-border pt-35 pb-30">
                            <div class="togo-footer-copyright-text">
                                <p><a href="{% url 'core:index' %}" style="color: var(--togo-theme-primary)">Hawaii Travel Tips</a> © 2026 all right reserved.</p>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-6">
                                    <i>Powered by 
                                        <a target="_blank" href="https://kaimukidigital.com/" rel="nofollow" class="">
                                            <img src="{% static 'core/img/kaimuki_digital.webp' %}" alt="Kaimuki Digital Web Design Logo" style="height: 20px;">
                                        </a>
                                    </i>
                                </div>
                                <div class="col-6">
                                    <div class="togo-footer-copyright-currence text-end">
                                        <div class="togo-footer-copyright-currence-btn">
                                            <span>
                                                EN / USD
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                    fill="none">
                                                    <path d="M4 6L8 10L12 6" stroke="currentColor" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            <div class="togo-footer-copyright-currence-content">
                                                <h4>Currencies</h4>
                                                <ul class="currence-work">
                                                    <li><a href="#">USD</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer area end -->

            </footer>

        </div>
    </div>


    <!-- JS here -->
    <script src="{% static 'core/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'core/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'core/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'core/js/magnific-popup.js' %}"></script>
    <script src="{% static 'core/js/nice-select.js' %}"></script>
    <script src="{% static 'core/js/purecounter.js' %}"></script>
    <script src="{% static 'core/js/incluid-bundle.js' %}"></script>
    <script src="{% static 'core/js/fecha.js' %}"></script>
    <script src="{% static 'core/js/hotel-datepicker.js' %}"></script>
    <script src="{% static 'core/js/range-slider.js' %}"></script>
    <script src="{% static 'core/js/scripts.js' %}"></script>


    <!-- Fareharbor Script only loads on desktop -->
    <script>
        window.addEventListener("load", () => {
            if (window.innerWidth >= 768) {
                const script = document.createElement('script');
                script.src = "https://fareharbor.com/embeds/api/v1/?autolightframe=yes";
                document.body.appendChild(script);
            }
        });
    </script>

</body>

</html>